@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import "./base.css";
@import "./swiper.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.1px;
  font-family: "Inter", "sans-serif";
  line-height: normal;
}
